@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <a class="nav-link text-info" asp-page="/LetterCount">1. Letter Count Question</a>        
    </div>
    <div class="row">        
        <a class="nav-link text-info" asp-page="/FruitStore">2. Store Selling Fruits Question</a>
    </div>
    <div class="row">
        <a class="nav-link text-info" asp-page="/TriviaGame">3. Trivia Game</a>        
    </div>
</div>
